//http://www.designcouch.com/home/why/2013/09/19/ios7-style-pure-css-toggle/
$_diameter: 30px;
$_width: 50px;
$_color--on: #3f9625;
$_color--off: #d5d5d5;
$_speed: 0.25s;
$_stroke: 2px;
.switchery {
  &-processed {
    max-height: 0;
    max-width: 0;
    opacity: 0;
  }

  & {
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    box-shadow: inset 0 0 0px $_stroke $_color--off;
    text-indent: -5000px;
    height: $_diameter;
    width: $_width;
    border-radius: $_diameter / 2;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: $_diameter;
    width: $_diameter;
    top: 0;
    left: 0;
    border-radius: $_diameter / 2;
    transition: all $_speed, ease-in-out;
  }

  &:before {
    background: transparent;
  }

  &:after {
    background: white;
    box-shadow: inset 0 0 0 $_stroke rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
  }

  &-is-on:before {
    width: $_width;
    background: $_color--on;
  }

  &-is-on:after {
    left: $_width - $_diameter;
    box-shadow: inset 0 0 0 $_stroke $_color--on, 0 2px 4px rgba(0, 0, 0, .2);
  }

  &-is-disabled {
    opacity: .4;
  }
}
